.p{
    margin-bottom: 15px;
}

.container__doacao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    padding: 50px 0px;
}

.container__doacao__doar{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 44vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(192, 189, 189, 0.438);
    min-height: 350px;
    padding: 40px;
}

.h3{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.imgRacao{
    width: 200px;
    margin: 30px 0px;
}

.imgBradesco{
    width: 160px;
    margin: 50px 0px;
}

/* responsividade mobile */

@media (max-width: 768px) {
    .container__doacao{
        grid-template-columns: repeat(1, 1fr);
    }

    .container__doacao__doar{
        width: 92vw;
        min-height: 300px;
        padding: 40px 15px;
        margin: auto;
        margin-bottom: 30px;
    }

    .imgRacao{
        width: 160px;
        margin: 20px 0px;
    }

    .imgBradesco{
        width: 120px;
        margin: 20px 0px;
    }
}