.section{
    padding: 50px 10px 60px 10px;
}

.h1{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 15px;
}

.container__cachorros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 0;
    place-items: center;
}

.button{
    display: flex;
    justify-content: center;
}

.btnVermais{
    background-color: #008000;
    color: #fff;
    width: 150px;
    padding: 6px 15px;
    border-bottom: 2px solid #015e01;
}