<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Contato</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/contato.css">
    <body>
        <header>
            <h1>Contato</h1>
        </header>
        <div class="row">
            <form action="../scripts/sendemail.php" method="POST" class="card" enctype="multipart/form-data">
                <div>
                    <label for="inputNome">Nome:</label>
                    <input type="text" id="inputNome" name="nome" required maxlength="25" minlength="2">
                    <span></span>
                </div>

                <div>
                    <label for="inputEmail">Email:</label>
                    <input type="email" id="inputEmail" name="email" required maxlength="50">
                    <span></span>
                </div>

                <div>
                    <label for="textAreaMensagem">Mensagem:</label>
                    <textarea id="textAreaMensagem" name="mensagem" required maxlength="100"></textarea>
                    <span></span>
                </div>
                <div>
                    <label for="inputFile">Algum arquivo(opcional):</label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="4194304">
                    <input type="file" id="inputfile" name="file" accept=".pdf, .doc, audio/*, video/*, image/*">
                    <span></span>
                </div>
                <br>
                <div>
                    <button style="font-size: 20px;">Enviar mensagem</button>
                    <button type="reset" style="font-size: 20px;">Apagar campos</button>
                </div>
            </form>
        </div>
        <footer>
            <dl>
                <dt>E-mail</dt>
                <dd>alimenteumpetdw@gmail.com</dd>
                <br/>
                <dt>Telefone</dt>
                <dd>(88) 9 9999-9999</dd>
            </dl>

            <p>Projeto Social 3º ano Técnicos em informática 2021</p>
        </footer>
    </body>
</html>