.carrosel{
    width: 100%;
    margin: 0;
    padding: 0;
}

.iconPrev{
    padding: 10px 5px;
}

.carrosel_image{
    width: 100%;
    display: block;
}

/* responsividade mobile */

@media (max-width: 768px) {
    .carrosel_image{
        height: 200px;
        object-fit: cover;
    }
}