footer{
    display: flex;
    background-color: #4998D1;
    padding: 50px 20px;
}

footer ul li{
    color: #fff;
}

.first__container{
    display: flex;
    padding: 0px 50px;
    width: 100%;
}

.first__container__logo{
    width: 50%;
}

.first__container__logo img{
    width: 200px;
    display: flex;
    align-items: center;
}

.first__container__logo p{
    max-width: 450px;
    min-width: 300px;
    color: #fff;
}

.first__container__links{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first__container__links h3{
    color: #fff;
    height: 35px;
    border-bottom: 2px solid #fff;
    width: 170px;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.first__container__links ul{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.link{
    width: 170px;
    color: #fff;
    padding: 7px 10px;
    transform: translateX(-35px);
    transition: 0.2s ease-in-out color;
    text-decoration: none;
    font-size: 1rem;
}

.link:hover{
    color: #d6d6d6;
}

.first__container__social{
    width: 25%;
    display: flex;
    align-items: center;
}

.first__container__social ul{
    display: flex;
}

.icon{
    font-size: 2rem;
    color: #fff;
    margin: 0px 7px;
}

.icon:hover{
    background-color: #fff;
    color: #4998D1;
    padding: 3px;
    border-radius: 5px;
}

/* responsividade mobile */

@media (max-width: 768px) {
    footer{
        padding: 50px 0px 0px 0px;
    }

    .first__container{
        flex-direction: column;
        padding: 0px;
    }

    .first__container__logo{
        width: 100%;
        margin-bottom: 40px;
        padding: 0px 20px;
    }

    .first__container__logo img{
        width: 160px;
    }

    .first__container__logo p{
        min-width: none;
        max-width: none;
        width: 100%;
    }

    .first__container__links{
        width: 100%;
        margin-bottom: 60px;
        padding: 0px 20px;
    }

    .first__container__social{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .list{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .icon{
        font-size: 2rem;
        margin: 10px;
    }
}